*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}
.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  background-color: #545050;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
.content {
  background-color: #1b1919;
  width: 1440px;
  margin: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 30px;
  justify-items: start;
  align-items: end;
}
/*ЛЕВАЯ СТОРОНА*/

/*большое видео*/
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*поиск*/
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
}
input[type="text"] {
  border: none;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  background-color: transparent;
  font-family: inherit;
  min-width: 250px;
  font-weight: 400;
  font-size: 18px;
  appearance: none;
  text-decoration: none;
}
.search-form__textfield:focus,
.search-form__checkbox:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline: white 1px solid;
}
/*чекбокс*/
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-self: center;
}
.search-form__pseudo-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  position: relative;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: #fff;
}
.search-form__checkbox:has(:focus-visible) {
  outline: white 1px solid;
}
.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}
.search-form__label:hover {
  text-decoration: underline;
}
button {
  background-color: transparent;
  color: white;
  border: #fff 1px solid;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
}

button:hover {
  text-decoration: underline;
}
button:active {
  background-color: #545050;
}
button:focus {
  outline: white 1px solid;
  outline-offset: 1px;
}
.search-form__submit-button {
  align-self: end;
  width: 195px;
  height: 35px;
}
.more-button {
  width: 100%;
  height: 35px;
}
/*ПРАВАЯ СТОРОНА*/
.title,
.content__video-card-title {
  margin-bottom: 25px;
  font-size: 75px;
  letter-spacing: 0%;
  line-height: 94%;
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: 700;
}
.content__accent {
  color: #545050;
}
.content__details {
  width: 400px;
  margin-right: 45px;
}
.content__list-container {
  position:relative;
  height: 300px;
  overflow: scroll;
}
/*карточки*/
.content__list-item {
  display: block;
  margin-bottom: 30px;
  padding: 0 3px;
}
.content__list-item:hover {
  text-decoration: underline;
}
.content__list-item:active {
  background-color: #545050;
}
.content__list-item:focus{
  outline: none;
}
.content__list-item:focus-visible{
  outline: #fff 1px solid;
}
.content__card-link_current {
  background-color: #545050;
}
.content__video-card-title {
  font-size: 30px;
  line-height: 100%;
  color: #fff;
  width: 195px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.content__card-link {
  text-decoration: none;
}
.content__video-card-description {
  font-size: 18px;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 16.2px;
  align-self: flex-start;
  line-clamp: inherit;
  color: #fff;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}
.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
